* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    z-index: 100;
    padding: 40px 0;
    background-color: #333333;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;   
}

#nasaBuilding {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/achivements/nasa-fixed.png');
}

#background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/achivements/osiagniecia-background.png');
}

#explored {
    z-index: 100;
    width: 100vw;
    margin-bottom: 40px;
}

#exploredElements {
    width: 100%;
    height: 150px;
    overflow-x: scroll;
    white-space: nowrap;
}

#explored li {
    display: inline-block;
    width: 200px;    
    height: 100px;
    background-image: url("http://placehold.it/400x400?text=...");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 15px;
    opacity: 0.85;
}

#explored li:hover {
    opacity: 1;
    cursor: pointer;
}

.exploredElement {
    border-radius: 10px;
    border: 6px solid #fff;
}

#details {
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#explorationSummary {
    background: rgba(109, 109, 109, 0.37);
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, 60px);
    border-radius: 15% 15% 10% 10%;
}

#exploredElementDetails {
    z-index: 100;
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    text-align: center;
}

#summaryHeader {
    display: flex;
    flex-direction: row;
    letter-spacing: 4px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px dotted #333333;
    margin-bottom: 40px;
}

.summaryHeaderLabel {
    font-weight: 900;
}

.summaryElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch; 
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 5px 20px;
}

.summaryElementLabel {
    width: 300px;
    margin-right: 40px;    
    font-weight: 900;
}