* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body.scan {
    cursor: url("../assets/main/scan.png"), auto;
}

body {
    width: 100%;
    height: 100%;
    background: url("../assets/main/bg.png");
    font-family: 'Roboto', sans-serif;
}

body.match {
    cursor: url("../assets/main/scanMatch.png"), auto;
}

.star {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
}

.star.active {
    background-color: var(--star-main-color);
    box-shadow: 0 0 10px 5px var(--star-main-color), 0 0 25px 12px var(--star-secound-color);
}
.star.canEnter{
    cursor: url('../assets/main/enter.png'),auto !important;
}
#star1 {
    left: 5%;
    top: 39%;
    display: block;
}

#star2 {
    right: 10%;
    bottom: 28%;
}

#star3 {
    left: 48%;
    top: 33%;
}

#star4 {
    right: 73%;
    top: 55%;
}

.starBox {
    position: relative;
    left: -99px;
    top: -99px;
    width: 100px;
    height: 100px;

}

#dock {
    position: fixed;
    right: 0;
}

#dock ol {
    list-style: none;
}

#dock li {
    cursor: pointer;
}

#notifications {
    position: fixed;
    right: 0;
    bottom: 0;

}

#notifications .notification {
    width: 580px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    opacity: 0;

}

#notifications .notification.alert {
    background: #fff;
    border-top: 20px red solid;
    border-bottom: 20px red solid;
    text-align: right;

}


#quests {
    display:none;
    position: fixed;
    top: 20px;
    height: 80vh;
    width: 90%;
    margin-left: 90px;
    z-index: 99999;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
}
#quests .close{
    width: 25px;
    height: 25px;
    text-align: center;
    opacity: 0.8;
    float:left;
    color:#000;
    cursor: pointer;
    font-size: 20px;
    background: #FFF;
    border-radius: 100%;
}

#quiz {
    display:none;
    position: fixed;
    top: 20px;
    width: 90%;
    margin-left: 90px;
    background: #333333;
    z-index: 99999;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
}

#quiz .close{
    width: 25px;
    height: 25px;
    text-align: center;
    opacity: 0.8;
    float:right;
    color:#000;
    cursor: pointer;
    font-size: 20px;
    background: #FFF;
    border-radius: 100%;
}

#quiz h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin:10px 0 10px 0;
    padding: 5px;
}

#quests h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin:10px 0 10px 0;
    padding: 5px;
}

#quiz ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#quiz li {
    margin: 5px 0;
    background: #fff;
    color: #000;
    padding: 20px;
    cursor: pointer;
}

#quiz li.disabled {
    background: #DDDDDD;
    cursor: not-allowed;
}

#startQuiz{
    cursor: pointer;
    position: fixed;
    left: 870px;
    bottom: 290px;
    width: 100px;
    height: 100px;
}

#quests #info{
    cursor: pointer;
    position: fixed;
    left: 623px;
    top: 65px;
    width: 678px;
    height: 180px;

}
#q2,#q3,#q4,#q5,#success,#fail{
    display: none;
}

#infoContent{
    overflow-y: auto;
    width: 678px;
    height: 150px;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    20% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 0.8;
        filter: none;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    45% {
        transform: perspective(400px);
        opacity: 0.8;
        filter: none;
    }
    50% {
        transform: perspective(400px);
    }
    70% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 0.8;
        filter: none;
    }
    100% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
