* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url("resources/bg.png");
    cursor: url("./resources/scan.png"), auto;
    font-family: 'Roboto', sans-serif;
}

body.match{
    cursor: url("./resources/scanMatch.png"), auto;
}

.star {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
}

.star.active {
    background-color: var(--star-main-color);
    box-shadow: 0 0 10px 5px var(--star-main-color), 0 0 25px 12px var(--star-secound-color);
}

#star1{
    left: 5%;
    top:39%;
    display: block;
}

#star2{
    right: 3%;
    bottom:13%;
}

#star3{
  left: 250px;
    top:10px;
}

#star4{
  right: 350px;
    top:800px;
}

.starBox{
    position:relative;
    left: -99px;
    top: -99px;
    width: 100px;
    height: 100px;

}
#dock{
    position: fixed;
    right:0;
}

#dock ol{
    list-style: none;
}
#dock li{
    cursor:pointer;
}

#notifications{
    position:fixed;
    right: 0;
    bottom: 0;

}

#notifications .notification{
    width:580px;
    height: 60px;
    vertical-align: middle;
    display:table-cell;
    opacity: 0;


}

#notifications .notification.alert{
    background: #fff;
    border-top: 20px red solid;
    border-bottom: 20px red solid;
    text-align: right;

}

#quests{
    position: fixed;
    top: 20px;
    height: 80vh;
    background: #333333;
    width: 90%;
    margin-left: 90px;
    z-index: 99999;
    opacity: 0.8;
    border-radius: 5px;
    padding:10px;
}

#quests h1{
    border-bottom:1px solid #fff;
    color:#fff;
}

#quests ol{
    list-style: none;
    margin:0;
    padding:0;
}
#quests li{
    margin:5px 0;
    background: #fff;
    color:#000;
    padding:20px;
}

.flip {
    backface-visibility: visible !important;
    animation-name: flip;
    animation-duration: 2.5s;
}


@keyframes flip {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    20% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 0.8;
        filter: none;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    45% {
        transform: perspective(400px);
        opacity: 0.8;
        filter: none;
    }
    50% {
        transform: perspective(400px);
    }
    70% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 0.8;
        filter: none;
    }
    100% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
