* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    z-index: 100;
    padding: 40px 0;
    background-color: #333333;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grid upgradesControl"
}

#background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/researchCenter/background-animated.gif');
}

#agency {
    z-index: 100;
    grid-area: "clicker";
}

#agency:hover {
    cursor: pointer;
}

.visible {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s linear;
}

.hidden {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.8s, opacity 0.8s linear;
}

#clickPrompt {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 900;
}

#clickPrompt::selection {
    text-decoration: none;
    cursor: pointer;
}

#upgradesControl {
    z-index: 100;
    grid-area: "upgradesControl";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

#telescopeUpgrades, #agencyUpgrades {
    background: rgba(80, 80, 80, 0.76);
    border-radius: 5% 5% 0 0;
    margin: 20px 0;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.13fr auto 1fr
}

#telescopeUpgradeHeader, #agencyUpgradeHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.upgradesList {
    max-height: 354.867px;
    width: 748px;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-auto-flow: row dense;
    text-align: left;
    overflow-y: auto;
}

.upgradesList div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    border-style: solid;
    border-color: #333333;
    border-width: 0 1px 1px 0;
}

.upgradesList div::selection {
    text-decoration: none;
}

.upgradesList .buyBtn {
    border: none;
    padding: 10px 20px;
    margin-left: 25px;
    border-radius: 30px;
    letter-spacing: 2px;
    background: #548aa0;
    color: #ffffff;
    font-size: 16px;
}

.upgradesList .buyBtn:hover {
    cursor: pointer;
    background: #5f99b1;
}